body{ background-color:white; 
}
ul.a{list-style-type: square;
color:black;
}
ul.b{list-style-type: square;
color:black;
}
ul.c{list-style-type: square;
color:black;
}
ul.d{list-style-type: square;
color:black;
}
ul.e{list-style-type: square;
color:black;
}
ul.f{list-style-type: square;
color:black;
}
ul.g{list-style-type: square;
color:black;
}
h1.k{text-align:center;
}